
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>questionChoicePage</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="Joe Bloggs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	
	<body>
        <h1>Please choose a question topic to start a question test</h1>
        <p><a href="/questionChoicePage/math">choose math topic question to test your understanding</a></p> <br>
        <p><a href="/questionChoicePage/html5">choose html5 topic question to test your understanding</a></p> <br>
		<p><a href="/logout">go back to the login page</a></p> <br>
	</body>

</html>
