<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>questionFinalPage</title>
    <meta name="description" content="form to add new books">
    <meta name="author" content="Mark Tyers">
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>


<body>

    <h1> You finish all questions !</h1><br>
    <h2> your   {{state}} the test </h2><br>
    <h2> your scores are  {{scores}} </h2><br>
  

    
<p><a href="/Homepage/1">GoBackToTheFirstpage</a></p> <br>
<p><a href="/logout">log out</a></p> <br>

</body>

</html>