# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\BaiduNetdiskDownload\考文垂大三上学期\340CT - Software Quality and Process Management\8887597-chengr5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
